@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Sigmar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.font-digital-7 {
  font-family: "Orbitron", sans-serif;
}

::-webkit-scrollbar {
  display: block;
}

.neonText {
  text-shadow: 0 0 7px #fff, 0 0 7px #fff;
}

.ant-float-btn-icon {
  color: #fff !important;
}

.ant-float-btn-body {
  background: transparent !important;
  transition: none !important;
}

.ant-modal-content,
.ant-modal-header {
  background: rgb(0 0 0 / 0.1) !important;
  backdrop-filter: blur(12px) !important;
}
.ant-modal-title,
.ant-modal-close-x {
  color: #fff !important;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #ccc; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #ccc; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
