@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Potta One", cursive;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0 !important;
  display: block;
}

.neonText {
  text-shadow: 0 0 7px #fff, 0 0 7px #fff;
}

.ant-float-btn-icon {
  color: #fff !important;
}

.ant-float-btn-body {
  background: transparent !important;
  transition: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}
:where(.css-dev-only-do-not-override-1wazalj).ant-modal .ant-modal-title,
:where(.css-dev-only-do-not-override-1wazalj).ant-modal .ant-modal-header,
.ant-modal-content,
.ant-popover-inner {
  color: #fff !important;
  background-color: rgb(0 0 0 / 0.6) !important;
  backdrop-filter: blur(4px);
}
.ant-modal-close-x {
  color: #fff !important;
}

.ant-popover-arrow {
  display: none !important;
}

.ant-popover-inner {
  padding: 0 !important;
  overflow: hidden !important;
  border: none !important;
  min-width: 150px;
}

.ant-menu {
  width: 290px !important;
}

.ant-radio-button-wrapper-checked {
  border-color: #db2777 !important;
  background: #db2777 !important;
}

.ant-radio-button-wrapper-checked:not(
    .ant-radio-button-wrapper-disabled
  )::before {
  background-color: transparent !important;
}

.ant-menu-item {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
  border-radius: 0px !important;
  font-size: 16px !important;
}

.ant-menu-item-selected {
  background: transparent !important;
  border-left: 4px solid #db2777 !important;
  color: #fff !important;
  padding-left: 20px !important;
}

.ant-switch.ant-switch-checked {
  background: #db2777 !important;
}

.ant-switch {
  background: #868686a3 !important;
}
.ant-menu-item:hover {
  color: #fff !important;
}
.slider,
.slider-timer {
  /* removing default appearance */

  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  background: #e5dfdf45;

  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  border-radius: 16px;
}

.slider-timer {
  width: 100%;
  height: 5px;
}

/* Track: webkit browsers */
.slider::-webkit-slider-runnable-track,
.slider-timer::-webkit-slider-runnable-track {
  background: transparent;
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
.slider::-moz-range-track,
.slider-timer::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Thumb: webkit */
.slider::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #da2f68;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #da2f68;
}

/* Thumb: Firefox */
.slider::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #ccc;
  border-radius: 50%;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #da2f68;
}

.slider-timer::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 5px;
  width: 8px;

  background-color: #da2f68;

  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #da2f68;
}

em-emoji-picker {
  margin: auto;
}
